<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Key</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @content_services.each do |service| %>
      <tr>
        <td><%= link_to service.name, admin_content_service_path(service) %></td>
        <td><code><%= service.key %></code></td>
        <td><%= service.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
