<%
# Requires the following locals:
#
# content_service [ContentService]
#

last_completed = content_service.last_completed_harvest
%>

<div class="modal fade" id="dl-harvest-modal" tabindex="-1" role="dialog"
     aria-labelledby="dl-harvest-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag(admin_content_service_harvest_path(content_service), method: :post) do %>
        <div class="modal-header">
          <h5 class="modal-title" id="dl-harvest-modal-label">Harvest</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="harvest_type"
                   id="harvest-full" value="full" <%= last_completed ? '' : 'checked' %>>
            <label class="form-check-label" for="harvest-full">
              Full
            </label>
          </div>


            <div class="form-check">
              <input class="form-check-input" type="radio" name="harvest_type"
                     id="harvest-incremental" value="incremental" <%= last_completed ? 'checked' : 'disabled' %>>
              <label class="form-check-label" for="harvest-incremental">
                <% if last_completed %>
                  Changes since <%= local_time last_completed.created_at %>
                <% else %>
                  Incremental (must complete a full harvest first)
                <% end %>
              </label>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Harvest</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
