<% provide(:title, "Edit #{@content_service}") %>
<% provide(:body_id, 'edit-content-service') %>
<% provide :active_nav, 'entities' %>

<%= breadcrumb({ label: 'Home', url: admin_root_path },
    { label: 'Content Services', url: admin_content_services_path },
    { label: @content_service.name, url: admin_content_service_path(@content_service) },
    { label: 'Edit' }) %>

<h1>Edit <%= @content_service.name %></h1>

<%= render partial: 'form', locals: { user: @content_service, context: :edit } %>
