<% provide :title, 'Content Services' %>
<% provide :body_id, 'dl-content-services' %>
<% provide :active_nav, 'entities' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li class="active">Content Services</li>
</ol>

<%= button_bar({ label: 'New Content Service',
                 url: new_admin_content_service_path,
                 icon: 'fa-plus' }) %>

<h1>Content Services</h1>

<div id="dl-content-services">
  <%= render 'content_services' %>
</div>
