<% provide :title, 'Content Services' %>
<% provide :body_id, 'dl-admin-content-services' %>
<% provide :active_nav, 'content-services' %>

<% if current_user.admin? %>
  <%= button_bar({ label: 'New Content Service',
                   url: new_admin_content_service_path,
                   icon: 'fa-plus' }) %>
<% end %>

<h1>Content Services</h1>

<div id="dl-content-services">
  <%= render 'content_services' %>
</div>
