<% provide(:title, 'New Content Service') %>
<% provide(:body_id, 'dl-admin-new-content-service') %>
<% provide :active_nav, 'content-services' %>

<%= breadcrumb({ label: 'Home', url: admin_root_path },
    { label: 'Content Services', url: admin_content_services_path },
    { label: 'New Content Service' }) %>

<h1>New Content Service</h1>

<%= render partial: 'form', locals: { content_service: @content_service,
                                      context: :new } %>
