##
# docker-compose file for running tests. All dependent services are included.
#
# Example invocation: docker-compose up --build --exit-code-from metaslurp
#
version: '3'
services:
  metaslurp:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      RAILS_ENV: test
      # This is checked in various places in the app & tests to tailer for a CI
      # environment (where adding another Rails environment would be overkill)
      CI: 1
    command: bash -c "sleep 20 && bin/rails db:prepare && bin/rails \"elasticsearch:indexes:recreate[metaslurp]\" && bin/rails test && bin/rails zeitwerk:check"
    # docker-compose exec metaslurp /bin/bash
    #command: bash -c "tail -f /dev/null"
  elasticsearch:
    hostname: elasticsearch
    build:
      context: .
      dockerfile: docker/elasticsearch/Dockerfile
  postgres:
    hostname: postgres
    image: postgres:12-alpine
    environment:
      POSTGRES_DB: metaslurp
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
