<div class="card border-info">
  <div class="card-header">
    Legend
  </div>
  <div class="card-body text-info">
    <dl>
      <dt><code><%= SourceElement::INDEX_PREFIX %>*</code></dt>
      <dd>Source element</dd>
      <dt><code><%= LocalElement::STRING_INDEX_PREFIX %>*</code></dt>
      <dd>Local string element</dd>
      <dt><code>d_*</code></dt>
      <dd>Local date element or system date</dd>
      <dt><code>k_*</code></dt>
      <dd>System keyword</dd>
      <dt><code>t_*</code></dt>
      <dd>System text</dd>
    </dl>
  </div>
</div>
