code {
  background-color: white;
}

code.code-block {
  background-color: #f0f0f0;
  display: block;
  margin-bottom: 1em;
  padding: 0.5em;
  white-space: pre-wrap
}

ul {
  margin-left: 1.5em;
  padding-left: 0em;
}

#table-of-contents {
  ul {
    list-style: none;
    margin-left: 0em;
    padding-left: 0em;
    ul {
      list-style: disc;
      margin-left: 1.7em;
    }
  }
}

table td:first-child {
  width: 20%;
}