<% if @num_results_shown > 0 %>
  <% @pagination_links = paginate(@count, @limit, @current_page, @permitted_params) %>

  <div class="text-center">
    <%= @pagination_links %>
  </div>

  <%= items_as_media(@items,
                     link_to_admin: !current_user.nil?,
                     show_remove_from_favorites_buttons: true) %>

  <div class="text-center">
    <%= @pagination_links %>
  </div>
<% else %>
  <div class="alert alert-primary">
    <i class="fas fa-info-circle"></i>
    There are no items in your favorites.
  </div>
<% end %>
