-# Edit-boost modal
#dl-edit-boost-modal.modal.fade{"aria-labelledby": "dl-edit-boost-modal-label",
                                role: "dialog",
                                tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5#dl-edit-boost-modal-label.modal-title Edit Boost
        %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
          %span{"aria-hidden": "true"} &times;
      .modal-body
        -# will be populated via XHR
