#
# Copy to env.list and DO NOT commit that file to version control.
#

###########################################################################
# EXPORTED ENVIRONMENT VARIABLES
# These are used by the various .sh scripts. They are also copied into the
# container, but not used there. They don't really need to be in this file,
# but it keeps all of the configuration in one place.
###########################################################################

APP_NAME=metaslurp
DOCKER_TAG=metaslurp:latest

AWS_PROFILE=
AWS_REGION=
ECR_HOST=

ECS_CLUSTER=
ECS_SUBNET=
ECS_SECURITY_GROUP=
ECS_SERVICE=

ECS_WEBAPP_TASK_COUNT=2

ECS_CONSOLE_TASK_DEFINITION=metaslurp-console:1

###########################################################################
# CONTAINER RUNTIME ENVIRONMENT VARIABLES
# All of these (plus AWS_REGION above) also need to be present in the ECS
# task definition.
###########################################################################

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SHIBBOLETH_HOST=
TIME_ZONE=
