<%= breadcrumb({ label: 'Home', url: root_path },
    { label: 'Services', url: content_services_path },
    { label: @service }) %>

<h1><%= @service %></h1>

<% if @service.description.present? %>
  <p><%= @service.description %></p>
<% end %>
