body#dl-admin-content-services {
  td:first-child {
    min-width: 15em;
  }
  td:nth-child(2) {
    white-space: nowrap;
  }
}

body#dl-admin-content-service {
  dd {
    ol {
      margin-left: 1em;
      padding-left: 0em;
    }
    .badge {
      text-transform: uppercase;
    }
  }
}

body#dl-admin-edit-content-service, body#dl-admin-new-content-service {
  input#content_service_key {
    font-family: $font-family-monospace;
  }
  textarea {
    min-height: 10em;
  }
}
