body#dl-admin-item {
  #nav-descriptive-info {
    table {
      td:first-child {
        white-space: nowrap;
      }
    }
  }
  #nav-indexed-fields {
    table {
      td:first-child {
        width: 30%;
      }
    }
  }
}