#dl-search-status {
  margin-bottom: 1em;
}

#dl-facets {
  padding-right: 0px;
}

.media-body {
  .mt-0 {
    margin-bottom: 0.25em;
  }

  .dl-info-line {
    a {
      color: gray;
      text-decoration: none;
    }
  }
}