#items_index, #collections_index {
  #dl-search-status {
    margin-bottom: 1em;
    .card-body {
      display: flex;
      justify-content: space-between;
      padding: 0.5em 1em;
      .dl-results-position {
        display: flex;
        align-items: center;
      }
      .dl-result-controls {
        div.btn-group {
          margin-right: 0.5em;
        }
      }
    }
  }

  #dl-facets {
    padding-right: 0px;
  }
}
