// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#landing {
  #dl-search-area {
    margin: 2em 0em 1em 0em;
  }

  .page-content {
    img[data-type="svg"] {
      opacity: 0.4;
      padding: 1em;
    }
  }

}