dl {
  dd {
    margin: 0em 0em 0.5em 1em;
  }
  dl {
    ul {
      margin-left: 1.5em;
      padding-left: 0em;
    }
  }
}

.alert ul {
  margin: 0em 0em 0em 1em;
  padding: 0em;
}

.dl-filter-field {
  max-width: 15em;
  margin-bottom: 1em;
}

input[disabled], a[disabled], .disabled {
  cursor: not-allowed;
}
