dl {
  dd {
    margin: 0em 0em 0.5em 1em;
  }
  dl {
    ul {
      margin-left: 1.5em;
      padding-left: 0em;
    }
  }
}

code {
  color: black;
}

.alert ul {
  margin: 0em 0em 0em 1em;
  padding: 0em;
}