@import "application";
@import "sitewide";
@import "content_services";
@import "items";

.list-unstyled h5 a, .card-deck h5 a {
  color: black;
}

.dl-facet {
  margin-bottom: 1em;
  .card-body {
    padding: 0.75em;
    ul {
      list-style-type: none;
      margin-bottom: 0;
      margin-left: 0;
      padding-left: 0;
    }
    .dl-term {
      font-size: 0.9em;
      text-indent: -1.2em;
      margin-left: 2.4em;
    }
    .dl-count {
      background-color: #a0a0a0;
      color: white;
      font-weight: bold;
      font-size: 0.8em;
      border-radius: 0.8em;
      padding: 0.1em 0.3em;
    }
  }
}

#dl-items {
  .dl-thumbnail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 180px;
    img {
      max-height: 180px;
      max-width: 180px;
    }
    img[data-location="remote"] {
      opacity: 0; // will be displayed onload via JS
    }
    img[data-type="svg"] {
      opacity: 0.4;
      padding: 0.8em;
    }
  }
  .media-body {
    .mt-0 {
      margin-bottom: 0.25em;
    }
    .dl-info-line {
      color: gray;
      display: block;
      font-size: 0.9em;
      padding: 0.2em 0.2em 0.8em 0;
      a {
        color: gray;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .collapse, .collapsing {
      font-size: 0.9em;
      padding-top: 0.4em;
    }
  }
}
