<% provide :title, 'Users' %>
<% provide :body_id, 'users' %>
<% provide :active_nav, 'access' %>

<%= breadcrumb({ label: 'Home', url: admin_root_path },
    { label: 'Users' }) %>

<%= button_bar({ label: 'New User',
                 icon: 'fa-plus',
                 if: lambda { current_user.admin? },
                 url: new_admin_user_path }) %>

<h1>Users <small class="entity_count"></small></h1>

<div id="dl-users">
  <%= render 'users' %>
</div>
