<% provide :title, 'Users' %>
<% provide :body_id, 'dl-admin-users' %>
<% provide :active_nav, 'access' %>

<h1>Users <small class="entity_count"></small></h1>

<div id="dl-users">
  <%= render 'users' %>
</div>
